html {
  font-family: monospace;
}

body {
  margin: 0;
  min-width: 800px;
  background: #ffeecc;
}

.nome {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2em;
  margin-top: 1em;
}

.calendario {
  padding: 1em;
}

.barra {
}

.titulo {
  float: left;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.dia {
  float: left;
  border-top: 1px dashed black;
  border-right: 1px dashed black;
  margin-right: -1px;
  border-left: 1px dashed black;
  margin-left: -1px;
}

.horario {
  border-bottom: 1px dashed black;
  padding: 12px;
  line-height: 2em;
}

.clear {
  clear: both;
}

.rodape {
  height: 24px;
  width: 100%;
}

.atividade {
  background: #ffbbbb;
  background: linear-gradient(to top, #dd5555, #ff5555);
  padding: 2px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.atividade:hover {
  background: #ffcccc;
  background: linear-gradient(to top, #ff5555, #ff8888);
}

.fechar {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;
  background-image: url('../img/close.png');
}

.info {
  display: none;
  position: absolute;
  width: 50%;
  right: 0;
  height: 100%;
  top: 0;
  background: rgba(250,220,200,0.9);
  box-shadow: 0 0 4px 0 black;
  font-size: 2em;
  color: black;
}

.info-texto {
  padding: 2em;
}
